/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

div, nav, section, p, h1, h2 {
  box-sizing: border-box; }

nav {
  padding: 2em;
  font-size: 1.2em;
}
nav * {
  font-size: 1.2em;
}

nav #next {
  margin-left: 15%;
}

.gallery-container {
  padding: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.vignette {
  flex: 20em 0 0;
  padding: 2em;
  border: 1px solid darkslategrey; }
  .vignette img {
    max-width: 100%;
    height: auto; }
  .vignette div {
    text-align: center; }


#lightbox_container {
    display : block;
}

#lightbox {
  display: none;
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9); }

#lightbox-comments {

    min-height: 500px;
    background: rgba(248, 248, 248, 1);
    position:absolute;
    width: 100%;
    top: 100%;
    left: 0;
    padding: 2em;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}
#lightbox_photo_info, #lightbox_photo_comments {
    width: 40%;
    padding: 1em
}

#lightbox_photo_info h2, #lightbox_photo_comments h2 {
    font-size: 1.5em;
    font-weight: 700;
}

#lightbox_photo_info h3, #lightbox_photo_comments h3 {
    font-size: 1.4em;
    font-weight: 600;
}
#lightbox_photo_info strong, #lightbox_photo_comments strong {
    font-size: 1.2em;
    font-weight: 600;
    color: #1e1e1e;
}

#lightbox_photo_info p, #lightbox_photo_comments p {
    margin-top:1em;
    color: #383838;
    padding-bottom: 0.5em;

}
p.comment_content {
    padding-bottom: 1em;
    border-bottom: 1px solid dimgrey ;
}

#lightbox #lightbox-head {
    height: 8%;
    width: 100%;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.6);
    color: floralwhite;

    display: flex; }

#lightbox #lightbox-head > h1 {
      text-align: center;
      font-weight: 700;
      font-size: 2.4em;
      margin: auto; }

#lightbox #lightbox-img {
    width: 100%;
    height: 92%;
    position:relative;
}

#lightbox img {
    display: block;
    margin: auto;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;

}

#lightbox #lightbox_close {


    background-color: black;
    opacity: 1;

    margin-left: 10%;
    margin-right: 10%;

    color: white;
    border: none;
   /* position: absolute;
    top: 0;
    left: 0;*/
    padding: 1em;
    font-size: 1.5em;
    border-radius: 1em;
}
#lightbox #lightbox_close:hover {
      background-color: dimgrey;
}
#lightbox #lightbox_full {
    /*z-index: 1001;*/
    background-color: black;
    opacity: 1;
    color: white;
    border: none;
    /*position: absolute;
    top: 0;
    right: 0;
    padding: 1em;*/
    font-size: 1.5em;
    border-radius: 1em;
}

#lightbox #lightbox_full:hover {
      background-color: dimgrey;
}

#lightbox #lightbox-next, #lightbox #lightbox-prev {
    height: 100%;
    font-size: 2em;
    width: 10%;
    padding: 1em;
    background-color: transparent;
    color: transparent;
    position: absolute;
    z-index: 1000;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#lightbox #lightbox-next:hover, #lightbox #lightbox-prev:hover {
      background-color: rgba(0, 0, 0, 0.6);
      color: white;
}

#lightbox #lightbox-next > h2, #lightbox #lightbox-prev > h2 {
      text-align: center;
      font-weight: 600;
      font-size: 2em;
}

#lightbox #lightbox-next {
    right: 0;
}

#lightbox #lightbox-prev {
    left: 0;
}

#lightbox-desc {
    color: white;
    border: none;
    /*bottom: 0;*/
    padding : 2%;
    padding-left: 11%;
    margin-left: 0%;
}

/*# sourceMappingURL=main.css.map */
